<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form method= "post" action="/login">
            <label for="userLogin">Логин: </label>
            <input type="text" id="userLogin" name= "login"/>
            <br>
            <label for="userPassword">Пароль: </label>
            <input type="password" id="userPassword" name= "password"/>

            <br>
            <input type="submit" value="Войти"/>
        </form>
    </body>
</html>