<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form th:action="@{/login}" th:method="post" accept-charset="utf-8">
            <label for="username">Логин: </label>
            <input type="text" placeholder="Enter Username" th:name="login" id="username" required>
            <br>
            <label for="password">Пароль: </label>
            <input type="password" placeholder="Enter Password" th:name="password" id="password" required>
            <br>
            <input type="submit" value="Войти"/>
        </form>
    </body>
</html>